.commentInput {
    margin: 0.6em;
    padding: 0.5em;
    border-radius: 0.6em ;
    background-color: #a7a7a7ff;
    min-width: 250px;


}

.form {
  display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 200px;
    width: 100%;
    max-width: 600px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    /* margin: 1em; */
    border-radius: 1em;
}

.buttonsContainer {
  
}