

.commentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(98, 98, 98, 0.8);
    min-width: 300px;
    width: 100%;
    max-width: 600px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
}

.commentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ediBtns {
    display: flex;
    flex-direction: row-reverse;
}

.commentHeader button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 0.6em;
    padding: 0.5em;
    margin: 0.2em;
    max-width: 5em;
}

.commentHeader button:hover {
    border: none;
    background-color: black;
    color: #FFD60A;
    border-radius: 0.6em;
    padding: 0.5em;
    margin: 0.2em;
    max-width: 5em;
}
  
.commentContainer p {
    color: rgb(0, 0, 0);
    font-size: 1.1em;
}
.commentContainer span {
    display: flex;
    justify-content: flex-end;
    color: #a7a7a7ff;
    font-size: 0.8em;
}

