.infoContainer {
  display: flex;
  background-color: rgba(167, 167, 167, 0.8);
  flex-direction: column;
  gap: 7px;
  padding: 20px;
}

.infoContainer h3 {
  font-size: 25px;
}

.infoContainer p {
  font-size: 16px;
}

.infoContainer button {
  margin-top: 10px;
  width: 70px;
  font-size: 1em;
  font-weight: 600;
  padding: 2px 5px 2px 5px;
  border: none;
  border-radius: 4px;
}

.outsideContainer {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.sdContainer {
  background-color: rgba(167, 167, 167, 0.7);
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  border-radius: 5px;
  padding: 10px;
}

.selectorContainer {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.selectorContainer span {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.3em;
}

.suFlowSelectors {
  display: flex;
  justify-content: center;
  gap: 10px
}

.suFlowSelectors button {
  font-size: 1.1em;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 4px;
  width: 70px;
}

.profileForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.profileForm label {
  font-size: 1.1em;
  font-weight: 600;
}

.profileForm input,
.profileForm textarea {
  min-width: 250px;
  max-width: 300px;
  height: 1.4em;
  border: none;
  background-color: rgba(227, 227, 227, 0.8);
  border-radius: 3px;
  padding-left: 5px;
}

.profileForm textarea {
  height: 3em;
}

.profileForm button {
  margin-top: 15px;
  font-size: 1.1em;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 4px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}