* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Gill Sans'
}

body {
  background-image: url('../public/images/bg_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}